.carousel-wrapper{
    height:450px;
    position:relative;
    width:800px;
    margin:0 auto;
    margin-top: 25px;
    margin-bottom: -20px;
  }
  .carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
  }
  .arrow{
    border: solid #FACF46;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 12px;
  }
  
  .arrow-prev{
    left:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
  }
   
  .arrow-next{
    right:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
    }
  
  .light{
    color:white;
  }
  
  @media (max-width: 480px) {
        .arrow, .light .arrow {
          background-size: 10px;
          background-position: 10px 50%;
        }
      }
  
  
  /*Select every element*/
  [id^="item"] {
      display: none;
    }
  
  .item-1 {
      z-index: 2;
      opacity: 1;
    background:url('pi1.png');
    background-size:cover;
    }
  .item-2{
    background:url('pi2.png');
     background-size:cover;
  }
  .item-3{
    background:url('pi3.png');
     background-size:cover;
  }
  
    *:target ~ .item-1 {
      opacity: 0;
    }
  
  #item-1:target ~ .item-1 {
      opacity: 1;
    }
  
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
      z-index: 3;
      opacity: 1;
    }
    #item-3:target ~ .item-3, #item-1:target ~ .item-1 {
      z-index: 4;
      opacity: 1;
    }
    
  
  
