@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;900&display=swap');

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: dimgray;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

header
{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.logo img
{
    width: 150px;
}

.logo
{
    display: flex;
    color: white;
}

.navlink, .navlinks
{
    display: flex;
    justify-content: space-around;
}

.navlink
{
    padding: 10px;
    text-decoration: none;
    list-style: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    font-size: larger;
    transition: all .45s ease-in-out;
}

.navlink:hover
{
    font-size: xx-large;
}

.navlinks
{
    list-style: none;
    padding: 10px;
    border-radius: 20px;
}

.nav-active
{
    background-color: darkgreen;
    color: white;
    border-radius: 0px;
}

.introtext
{
    font-size: x-large;
    color: white;
}

.introtext h1
{
    font-size: 90px;
}

.introimg img
{
    width: 1000px;
}

.content 
{
    background-color: white;
}

.arguments
{
    display: flex;
    justify-content: space-around;
}

.argitem
{
    width: 40vh;
    padding: 6px;
    margin-top: 20px;
    border-radius: 10px;
    transition: all .15s ease-in-out;
}

.argitem:hover
{
    background-color: green;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: large;
}

.argitem img
{
    width: 99px;
}

.cta
{
    padding: 10px;
    background-color: white;
    color: black;
    border: black 1px solid;
    font-size: larger;
    width: 90px;
    margin: 90px;
    margin-top: 10px;
    transition: all .45s ease-in-out;
}

.cta:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cta a
{
    color: white;
}

footer
{
    background-color: cornflowerblue;
}

.downloadscontent
{
    padding: 60px;
}

.intro
{
    display: flex;
}

.introobject
{
    justify-content: space-around;
}

.exarg
{
    display: flex;
}

.extendedargument img
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
}
.extendedargument, .exarg
{
    padding: 5vh;
}

.exarg div
{
    font-size: x-large;
    padding: 2vh;
}


@media screen and (max-width: 1424px) {
    *
    {
        flex-direction: column;
        align-items: center;
    }
    header, .navlink, .navlinks
    {
        flex-direction: row;
    }
}

@media screen and (max-width: 634px) {

    header
    {
        flex-direction: column;
    }

    .logo img
    {
        width: 100px;
    }
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

.tableContent
{
    background-color: white;
    transition: all .45s ease-in-out;
}
.tableContent:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
